In [3]:
import pandas as pd

auto_price = pd.read_csv('Automobile price data _Raw_.csv')
# the file is downloaded from https://studio.azureml.net/ to the same folder where this notebook is stored, on C: drive.

In [4]:
auto_price.head(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [5]:
ap = auto_price
ap.head(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [36]:
print(ap['aspiration'])     # P. Series
ap[['make', 'aspiration']]  # P. DataFrame

0        std
1        std
2        std
3        std
4        std
5        std
6        std
7        std
8      turbo
9      turbo
10       std
11       std
12       std
13       std
14       std
15       std
16       std
17       std
18       std
19       std
20       std
21       std
22       std
23     turbo
24       std
25       std
26       std
27     turbo
28       std
29     turbo
       ...
175      std
176      std
177      std
178      std
179      std
180      std
181      std
182      std
183      std
184      std
185      std
186      std
187    turbo
188      std
189      std
190      std
191      std
192    turbo
193      std
194      std
195      std
196      std
197      std
198    turbo
199    turbo
200      std
201    turbo
202      std
203    turbo
204    turbo
Name: aspiration, Length: 205, dtype: object

            make aspiration
0    alfa-romero        std
1    alfa-romero        std
2    alfa-romero        std
3           audi        std
4           audi        std
5           audi        std
6           audi        std
7           audi        std
8           audi      turbo
9           audi      turbo
10           bmw        std
11           bmw        std
12           bmw        std
13           bmw        std
14           bmw        std
15           bmw        std
16           bmw        std
17           bmw        std
18     chevrolet        std
19     chevrolet        std
20     chevrolet        std
21         dodge        std
22         dodge        std
23         dodge      turbo
24         dodge        std
25         dodge        std
26         dodge        std
27         dodge      turbo
28         dodge        std
29         dodge      turbo
..           ...        ...
175       toyota        std
176       toyota        std
177       toyota        std
178       toyota        std
179       toyota        std
180       toyota        std
181       toyota        std
182   volkswagen        std
183   volkswagen        std
184   volkswagen        std
185   volkswagen        std
186   volkswagen        std
187   volkswagen      turbo
188   volkswagen        std
189   volkswagen        std
190   volkswagen        std
191   volkswagen        std
192   volkswagen      turbo
193   volkswagen        std
194        volvo        std
195        volvo        std
196        volvo        std
197        volvo        std
198        volvo      turbo
199        volvo      turbo
200        volvo        std
201        volvo      turbo
202        volvo        std
203        volvo      turbo
204        volvo      turbo

[205 rows x 2 columns]

In [65]:
print(ap.ix[1, 'aspiration'])   
ap.ix[['make', 'aspiration']]  # ?

std

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
make,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aspiration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
ap.loc[1:5, 'aspiration']

1    std
2    std
3    std
4    std
5    std
Name: aspiration, dtype: object

In [61]:
ap.ix[1:5, 'aspiration']

1    std
2    std
3    std
4    std
5    std
Name: aspiration, dtype: object

In [53]:
ap.loc[ap['aspiration'] == 'std', 'make'].head()

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
Name: make, dtype: object

In [60]:
ap.ix[ap['aspiration'] == 'std', 'make'].head()

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
Name: make, dtype: object

In [55]:
ap.iloc[1:5]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [59]:
ap.ix[1:5]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [57]:
ap.iloc[1:5]['aspiration']

1    std
2    std
3    std
4    std
Name: aspiration, dtype: object

In [58]:
ap.ix[1:5]['aspiration']
# printa i 5-i red!

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

1    std
2    std
3    std
4    std
5    std
Name: aspiration, dtype: object